@import "bootstrap-3.3.6/css/bootstrap.min.css";
@import "tips";
@import "nav-bootstrap-custom";
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Pragati+Narrow');

$font-text: 'Merriweather Sans', sans-serif;
$font-title: 'Pragati Narrow', sans-serif;

$color-text: #491349;
$color-link: #721D72;
$color-activeLink: #EFA300;
$color-elements: #F3BC45;
$color-bg-light: #FFFFFF;
$color-divider: #e7ebee;

$grid-float-breakpoint: 400px;

h1, h2, h3, h4, h5, h6 {
  color: $color-link;
  font: {
    family: $font-title;
  }
}

p {
  font: {
    family: $font-text;
    size: 16px;
  }
}

a {
  color: $color-link;
  font: {
    family: $font-text;
  }
  &:hover, &:active, &:focus {
    color: $color-activeLink;
  }
}

.anchor {
  display: block;
  padding-top: 60px;
}

.page-content {
  margin-top: 60px;
}

.row-section {
  padding: 20px 20px 10px;
  border-bottom: 2px solid $color-divider;
}

.row-padded-top {
  padding: 20px 0 0;
}

.row-padded-bottom {
  padding: 0 0 20px 0;
}

.menu-top {
  background-color: $color-bg-light;
  height: 80px;
  li {
    text-transform: uppercase;
    a:hover {
      background-color: $color-bg-light;
    }
  }
}

.project-thumbnail {
  padding: 5px;
  .project-description {
    min-height: 120px;
  }
}

.label-technology {
  display: inline-block;
  background-color: $color-elements;
  color: $color-text;
  margin: 1px 2px;
  padding: 5px 10px;
  font: {
    family: $font-text;
    size: 14px;
  }
}

.footer-text {
  font: {
    size: 12px;
  }
}

.link-technology {
  text-decoration: none;
  border-bottom: dashed 1px;
  &:hover, &:focus {
    text-decoration: none;
  }
  &.selected {
    color: $color-elements;
  }
}

.contact-option {
  @extend a;
  &:hover, &:focus {
    text-decoration: underline;
  }
  cursor: pointer;
}

.projects-list-easing-enter {
  opacity: 0.01;
  &.projects-list-easing-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
}

.projects-list-easing-leave {
  opacity: 1;
  &.projects-list-easing-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}
