.project-img {
  display: block;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .project-img {
    height: auto;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .project-img {
    height: 196px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .project-img {
    height: 168px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .project-img {
  height: 206px;
  }
}
